<!DOCTYPE html>
<html>
<head>
    <title>TaPythagor </title>
</head>
<body>
    <h1>Pythagore Table Pour {{ name }}</h1>
    <div>
        {{ pythagore_table|raw }} <!-- Utiliser |raw pour rendre le HTML -->
    </div>
</body>
</html>
