<!DOCTYPE html>
<html>
<head>
    <title>Symfony & table de pythagore </title>
</head>
<body>
    <h1> {{ name }}</h1>
    <div>
        {{ pythagore_table|raw }} <!-- Utiliser |raw pour rendre le HTML -->
    </div>
</body>
</html>
